<header>
    <nav>
        <a href="{{ path('app_homepage') }}">homepage</a>
        <a href="{{ path('app_register') }}">register</a>

        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_media_index') }}">Back-office</a>
            <a href="{{ path('app_logout') }}">logout</a>
        {% else %}
            <a href="{{ path('app_login') }}">login</a>
        {% endif %}

    </nav>
</header>
