<header>
    <nav class="container navbar">
{#        <div class="row">
            <div class="col-12">
        <a href="{{ path('app_homepage') }}">Hi There ! My name is Julien</a>
            </div>
        </div>
        <div class="row">
        <a href="{{ path('app_register') }}">register</a>
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <div class="row">
            <a href="{{ path('app_media_index') }}">Back-office</a>
            <a href="{{ path('app_logout') }}">logout</a>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}">login</a>
        {% endif %}
        </div>#}

        <a href="{{ path('app_homepage') }}" class="navbar-brand">
            <img src="{{ asset('images/logo4.png') }}" alt="">
            JClairoDev
        </a>
        <div class="d-inline-flex justify-content-end gap-5">
     {#   <a href="{{ path('app_register') }}">register</a>
        {% if app.user and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_media_index') }}">Back-office</a>
                <a href="{{ path('app_logout') }}">logout</a>
        {% else %}
            <a href="{{ path('app_login') }}">login</a>
        {% endif %}#}
                <p>
                    Bonjour ! Je m'appelle Julien.
                    <br>
                    Je suis développeur.
                </p>
        </div>
    </nav>
</header>
